{% extends '@layout/default/render.html.twig' %}

{% block container %}
    <div class="container">
        <h1>{{ content.extraData.title[app.request.locale] }}</h1>
        <p>{{ content.extraData.description[app.request.locale] }}</p>

        {{ sfs_cms_block_by_type('article_header_data', {'article': content.id}) }}
        <hr class="mb-3"/>

        {{ containers.main|raw }}
    </div>
{% endblock container %}