{% for locale in form.vars.locales %}
    <div style="pointer-events: none;cursor: default;" data-lang="{{ locale }}">
        {{ sfs_cms_block_by_type('article_list', {
            'current_route': '',
            'cms-edit':true,
        }, locale) }}
    </div>
{% endfor %}
